.product_card {
    font-family: 'Helvetica Neue', Arial, sans-serif;

    width: 360px;
    height: 480px;
    
    border-radius: 12px;
    border: solid rgba(153, 147, 147, 0.37) 1px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

    background-color: white;

    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .product_info {
        padding: 0px 18px 0px 18px;
    }

    .product_title {
        font-size: 22px;
        font-weight: 700;
        color: #131212;
        letter-spacing: -0.5px;

        margin-bottom: 4px;
        align-self: center;
        width: 320px;

        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }

    .product_category {
        font-size: 14px;
        color: #888;

        margin-bottom: 12px;
        width: fit-content;
    }

    .product_status {
        font-size: 14px;
        color: #666464;

        margin-bottom: 12px;
        width: fit-content;
    }

    .product_description {
        font-size: 14px;
        color: #555;

        margin-bottom: 20px;
        height: 80px;
    }

    .product_price {
        font-size: 24px;
        font-weight: 700;
        color: #131212;

        margin-bottom: 20px;
        width: fit-content;
    }

    .product_image {
        margin: 16px 16px 16px 16px;
        width: 90%;
        height: 220px;
        border-radius: 8px;
    }

    .buttons_container {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
    }
}

.product_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.product_image::before {
    font-size: 36px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.05);
    letter-spacing: 2px;

    img {
        width: 100%;
        height: 00px;
    }
}

.add_to_cart_btn:hover {
    background-color: #333;
}