/* VARIABLES */
:root {
    --color-1: #f27b13;
    --color-2: #e39f4c;
    --color-3: #1a2625e7;
}


.form_header {
    color: #f27b13;
    text-align: center;
    font-family: poppins;
    font-weight: 400;
}

.signForm,
.editForm {
    margin: 0 auto;
    padding: 3rem;
    align-items: center;

    height: fit-content;

    font-family: poppins;
    color: rgba(252, 251, 244, 0.932);

    background-color: #1a2625e7;

    border: solid #f28444 2px;
    border-radius: 10px;
    box-shadow: #993f0b8a 10px 13px 12px;

    label {
        margin-bottom: 5px;
    }

    div {
        margin-bottom: 10px;
    }

    label {
        color: var(--color-2);
    }

    input {
        color: #dfb581;
        border-color: #e39f4c;
    }

    input::placeholder {
        color: rgba(141, 229, 220, 0.301);
    }

    select {
        color: #dfb581;
        border-color: #e39f4c;
        background-color: #1a262500;
    }

    select:focus {
        /* Cuando esta desplegado*/
        color: #dfb581;
        border-color: #e39f4c;
        background-color: #1a2625d2;
    }

    option {
        /* Valores del select */
        background-color: #13201fe2 !important;
        border-color: #e39f4c;
        color: #dfb581;

        font-family: noto sans, sans-serif;
        font-weight: 200;
        font-size: 16px;
    }

    input:focus {
        color: #dfb581;
    }

    hr {
        color: #dfb581;

    }

    #form_1_1 {
        margin-bottom: 10px;
    }

    #bt_submit {
        width: 70%;
        margin: 0 auto;
        color: #f27b13;
        border-color: #f27b13;
    }

    #bt_submit:hover,
    #bt_submit:active {
        background-color: #f27b130c;
    }

    a {
        color: #f27b13;
    }
}

.row_1 {
    align-content: center;
    background-image: url(https://images.unsplash.com/photo-1581252584837-95f73fd23574?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hvbmdxaW5nfGVufDB8fDB8fHww&fm=jpg&q=60&w=3000);
    background-repeat: no-repeat;
    background-position: right; 
    background-size: cover;
}

/* Eliminar el verde de Input Correcto de Bootstrap */
.signForm .form-control.is-valid,
.signForm .form-control:valid,
.editForm .form-control.is-valid,
.editForm .form-control:valid,
.editForm select.is-valid,
.editForm select:valid {
    border-color: var(--color-2) !important;
    background-image: none !important;
    box-shadow: none !important;
    padding-right: 0.375rem !important;
}