.msg_1{
    font-size: 18px;
    font-weight: 600;
}

.msg_2{
    font-size: 16px;
    font-weight: 600;
}

.error_msg {
    font-size: .875em;
    color: #dc3545;
    margin-top: .25rem;
}

.success_msg {
    font-size: .875em;
    color: #07c23fff;
    margin-top: .25rem;
}

.add_to_cart_btn:enabled {
    width: 100%;
    height: 50px;
    padding: 0px 0;
    background-color: #131212;

    font-size: 14px;
    font-weight: 600;
    color: white;

    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

.add_to_cart_btn:disabled {
    width: 100%;
    height: 50px;
    padding: 0px 0;
    background-color: #9c9b9b;

    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.808);

    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

.del_product_button {
    width: 100%;
    height: 50px;
    padding: 0px 0;
    background-color: #a51414;

    font-size: 14px;
    font-weight: 600;
    color: white;

    border: none;
    border-radius: 8px;
    cursor: pointer;
}