
services:
  web-api:
    build: ./backend
    container_name: fastapi
    volumes:
      - ./backend/:/app
    networks:
      - network_1
    restart: always

  nginx:
    image: 'nginx'
    container_name: nginx
    ports:
      - '8080:80'
    # environment:
    # - NGINX_HOST=foobar.com
    # - NGINX_PORT=80
    volumes:
      - ./html:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web-api
    networks:
      - network_1

networks:
  network_1:
    driver: bridge
